body{
    margin: 0;
    padding: 0;
    background: #3e3b3b;
    background-image: url(image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.keys{
    display: flex;
    gap: 60px;
}

.key{
    border: 2px solid white;
    padding: 20px 30px;
    border-radius: 10px;
    background: #333;
    transition: all 0.3s;
    cursor: pointer;
}

.key.playing {
    transform: scale(1.1);
    background: #555;
    box-shadow: 0 0 10px #fff;
}